@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240, 23%, 9%;
    --foreground: 226, 64%, 88%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --border: 230, 13%, 55%;
    --input: 228, 24%, 72%;

    --primary: 226, 64%, 88%;
    --primary-foreground: 240, 21%, 12%;

    --secondary: 234, 13%, 31%;
    --secondary-foreground: 227, 35%, 80%;

    --accent: 267, 83%, 80%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 343, 81%, 75%;
    --destructive-foreground: 240, 21%, 12%;

    --ring: 267, 83%, 80%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
